@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors: */
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Figtree, sans-serif;
  background-color: var(--Yellow);
  line-height: 150%;
  padding: 0 16px;
}

main {
  background-color: var(--White);
  display: grid;
  flex: 0 1 auto;
  /* Positioning Config: */
  margin: auto;
  padding: 24px;
  /* Mobile view: */
  min-width: 327px;
  min-height: 453px;
  /* Desktop view: */
  max-width: 327px;
  max-height: 474px;
  /* Border Config: */
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px black;
}

p {
  margin: 12px 0;
}

img#abstract {
  width: 100%;
  border-radius: 10px;
}

header {
  font-size: 14px;
  color: var(--Gray-950);
}

header div {
  background-color: var(--Yellow);
  font-weight: bold;
  border-radius: 4px;
  /* Positioning Config */
  width: fit-content;
  padding: 4px 12px;
  margin-top: 24px;
}

#mainContent {
  margin: 12px 0;
  color: var(--Gray-500);
  font-weight: 500;
}

#mainContent a {
  transition: color 150ms ease;
  /* Font Config: */
  color: var(--Gray-950);
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5em;
  /* Outline Config on Focus: */
  padding: 0 3px;
  border-radius: 2px;
}

#mainContent a:focus {
  outline: 3px dashed var(--Yellow);
}

#mainContent a:hover,
a:focus {
  color: var(--Yellow) !important;
  /* Gave this small shadow to improve readability */
  text-shadow: 1px 1px #00000070;
}

section footer {
  /* Positioning Config: */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 24px 0 6px;
  /* Font Config: */
  font-weight: bold;
  font-size: 14px;
}

section footer img {
  height: 32px;
}

main footer {
  flex-shrink: 0;
  height: 10px;
}
