@import "tailwindcss";

@font-face {
  font-family: Rubik;
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --animate-timer-duration: 20s;
  --animate-timer-playstate: paused;
  --timer-initial-width: 95%;
}

@media (min-width: 30rem) {
  :root {
    --timer-initial-width: 96%;
  }
}

@media (min-width: 40rem) {
  :root {
    --timer-initial-width: 97%;
  }
}

@media (min-width: 48rem) {
  :root {
    --timer-initial-width: 98%;
  }
}

@theme {
  /* Base settings: */
  /* Colors: */
  --color-purple: hsl(277, 91%, 56%);
  --color-dark-navy: hsl(216, 25%, 25%);
  --color-navy: hsl(215, 27%, 32%);
  --color-gray-navy: hsl(219, 13%, 44%);
  --color-light-bluish: hsl(216, 47%, 78%);
  --color-light-gray: hsl(220, 38%, 97%);
  --color-pure-white: hsl(0, 0%, 100%);
  --color-green: hsl(151, 70%, 50%);
  --color-red: hsl(0, 82%, 63%);
  /* Typography: */
  --font-rubik: "Rubik", sans-serif;
  --text-display: clamp(5.5rem, 2.1603rem + 14.2494vw, 9rem);
  --text-heading-l: clamp(2.5rem, 1.8497rem + 2.7746vw, 4rem);
  --text-heading-m: clamp(1.25rem, 0.2958rem + 4.0712vw, 2.25rem);
  --text-heading-s: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);
  --text-body-m: clamp(1.125rem, 0.7672rem + 1.5267vw, 1.5rem);
  --text-body-m--line-height: 150%;
  --text-body-s: clamp(0.875rem, 0.7124rem + 0.6936vw, 1.25rem);
  --text-body-s--line-height: 150%;
  /* Animations: */
  --animate-timer: timer var(--animate-timer-duration) linear forwards
    var(--animate-timer-playstate);

  @keyframes timer {
    from {
      width: var(--timer-initial-width);
    }
    to {
      width: 0;
    }
  }

  --animate-scale-up-center: scale-up-center 0.5s
    cubic-bezier(0.39, 0.575, 0.565, 1);

  @keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
}

@layer base {
  .body-background {
    @apply bg-no-repeat bg-center bg-cover
    bg-[url('../assets/images/pattern-background-mobile-light.svg')] 
    dark:bg-[url('../assets/images/pattern-background-mobile-dark.svg')]
    sm:bg-[url('../assets/images/pattern-background-tablet-light.svg')]
    sm:dark:bg-[url('../assets/images/pattern-background-tablet-dark.svg')]
    md:bg-[url('../assets/images/pattern-background-desktop-light.svg')]
    md:dark:bg-[url('../assets/images/pattern-background-desktop-dark.svg')];
  }

  button[disabled] {
    @apply cursor-not-allowed bg-light-gray text-gray-navy;
  }

  fieldset[disabled] {
    @apply pointer-events-none;
  }
}

@layer components {
  /* switch input */
  .switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
    border-radius: 50px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      --slider-color: var(--color-purple);
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 800px;
      background-color: var(--slider-color);
      transition: 0.4s;

      /* The thing that slides: */
      &:before {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        left: 4px;
        bottom: 4px;
        border-radius: 50%;
        background-color: white;
        transition: 0.4s;
      }
    }

    input:checked + .slider:before {
      transform: translateX(11px);
    }
  }

  .quiz__list {
    @apply flex flex-col gap-3.25 md:gap-6;
  }

  .quiz__button,
  .menu__button {
    @apply flex items-center gap-4 sm:gap-8 p-5 w-full rounded-xl sm:rounded-3xl hover:cursor-pointer relative text-heading-s select-none
      bg-pure-white 
      dark:bg-navy
      dark:text-white
      active:outline-[3px] outline-purple
      shadow-[0_16px_40px_hsl(from_var(--color-light-bluish)_h_s_l_/_14%)] 
      hover:shadow-[0_16px_40px_hsl(from_var(--color-light-bluish)_h_s_l_/_30%)] 
      dark:shadow-[0_16px_40px_hsl(from_var(--color-dark-navy)_h_s_l_/_14%)] 
      dark:hover:shadow-[0_16px_40px_hsl(from_var(--color-dark-navy)_h_s_l_/_30%)];
  }

  .quiz__button {
    input[type="radio"] {
      @apply hidden;
    }

    &:hover {
      .quiz__icon--letter {
        @apply bg-[#F6E7FF] text-purple;
      }
    }

    &:has(input:checked) {
      @apply outline-[3px] outline-purple;

      .quiz__icon--letter {
        @apply bg-purple text-pure-white;
      }
    }

    &&:has(#isCorrect) {
      @apply outline-[3px] outline-green;

      .quiz__icon--letter {
        @apply bg-green text-pure-white;
      }
    }

    &&:has(#isIncorrect) {
      @apply outline-[3px] outline-red;

      &::after {
        content: "";
        width: clamp(1.5rem, 1.1422rem + 1.5267vw, 1.875rem);
        height: clamp(1.5rem, 1.1422rem + 1.5267vw, 1.875rem);
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);

        background-image: url("../assets/images/icon-incorrect.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &::before {
        content: "";
        width: 80px;
        height: 100%;
        border-radius: 0 13px 13px 0;
        position: absolute;
        top: 0;
        right: 0;
        mask: linear-gradient(to left, black 50%, transparent);
        background: var(--color-pure-white);
      }

      [data-theme="dark"] &::before {
        background: var(--color-navy);
      }

      .quiz__icon--letter {
        @apply bg-red text-pure-white;
      }
    }
  }

  .quiz__answer--correct {
    @apply before:hidden after:hidden;

    &::after {
      content: "";
      width: clamp(24px, 3vw, 30px);
      height: clamp(24px, 3vw, 30px);
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);

      background-image: url("../assets/images/icon-correct.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::before {
      content: "";
      width: 80px;
      height: 100%;
      border-radius: 0 13px 13px 0;
      position: absolute;
      top: 0;
      right: 0;
      mask: linear-gradient(to left, black 50%, transparent);
      background: var(--color-pure-white);
    }

    [data-theme="dark"] &::before {
      background: var(--color-navy);
    }
  }

  .quiz__icon {
    @apply p-1 rounded-md size-[clamp(2.5rem,_1.5458rem_+_4.0712vw,_3.5rem)] shrink-0;
  }

  .quiz__icon--letter {
    @apply bg-light-gray flex justify-center items-center text-gray-navy text-heading-s;
  }

  .quiz__icon--html {
    @apply bg-[#FFF1E9];
  }

  .quiz__icon--css {
    @apply bg-[#E0FDEF];
  }

  .quiz__icon--javascript {
    @apply bg-[#EBF0FF];
  }

  .quiz__icon--accessibility {
    @apply bg-[#F6E7FF];
  }

  .quiz__duration_label {
    @apply border-2 border-gray-navy dark:border-light-bluish dark:bg-dark-navy px-2 rounded py-1 hover:cursor-pointer hover:border-purple text-body-s;

    &:has(input:checked) {
      @apply bg-purple border-purple text-pure-white;
    }
  }

  .button-hover {
    @apply hover:inset-shadow-[0_0_999px_999px_hsla(0,0%,100%,0.5)] active:inset-shadow-[0_0_999px_999px_hsla(0,0%,100%,0.5)];
  }
}
