@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  p {
    @apply p-0.5 mt-0.5;
  }

  code {
    @apply px-1 py-px border rounded-md bg-violet-700/70 border-violet-50 whitespace-nowrap;
  }

  h2 {
    @apply inline-block;
  }
}

@layer components {
  .bg-body {
    @apply bg-black bg-gradient-to-l from-violet-950/25 to-violet-950/45;
  }

  .nav-list {
    @apply transition-all duration-300 rounded-lg sm:rounded-none sm:rounded-t-lg;
  }

  .nav-list:active,
  .nav-list:hover,
  li.active {
    @apply px-4 bg-white text-violet-950;
  }

  .english {
    font-size: 0.85em;
    @apply text-violet-900;

  }

  .link {
    @apply transition-all rounded-md text-violet-700;
  }

  .link::before {
    content: "↗";
  }

  .link:hover,
  .link:focus {
    outline: none;
    @apply p-1 bg-violet-700 text-violet-50;
  }

  .challenge {
    @apply bg-violet-950 rounded-xl text-violet-50 max-w-[50rem];

    .english {
      @apply bg-violet-50 rounded-md w-fit px-2
    }

    summary {
      @apply px-1 py-2 text-xl list-none hover:cursor-pointer bg-violet-300 text-violet-950 rounded-xl;

      &::before {
        content: "📁 ";
      }
    }
    ul {
      @apply p-4;
    }

    h3 {
      @apply text-lg font-semibold;
    }

    img {
      width: clamp(40rem, 65%, 62.5rem);
    }

    .frontend-redirect {
      @apply font-bold hover:text-violet-200;
    }
  }

  .challenge[open] {
    summary {
      @apply font-semibold rounded-none rounded-t-xl;

      &::before {
        content: "📂 ";
      }
    }
  }

  .link-challenge {
    @apply rounded-none rounded-t-lg link text-violet-100;
  }

  .challenge__item {
    @apply flex flex-col gap-2 border rounded-xl border-violet-400 p-4;
  }

  .challenge__header {
    .tags {
      @apply flex text-sm rounded-sm text-black;
    }
  
    .tag {
      @apply w-fit rounded-xl px-2 py-0.5 mt-[-8px] opacity-80;
    }
  
    .tag-css {
      @apply bg-sky-300;
    }
  
    .tag-html {
      @apply bg-orange-300;
    }
  
    .tag-js {
      @apply bg-amber-300;
    }
  }


  .challenge__content {
    @apply flex flex-col sm:flex-row gap-4;

    img {
      @apply rounded-md  object-cover w-max h-48;
    }

    .challenge__text {
      @apply relative;

      .english {
        @apply hidden xl:block my-4 px-2 rounded-md bg-violet-100;

        code {
          @apply bg-violet-200 text-violet-950;
        }
      }
    }

    .english-hover {
      @apply self-baseline sm:justify-self-end order-[-1] flex items-center gap-2 bg-violet-50 text-violet-950 w-fit px-2 rounded-xl text-xs xl:hidden mt-3;
  
      &[title]:hover::after {
        content: attr(title);
        @apply text-base py-2 absolute bg-violet-50 px-2 rounded-xl top-0 left-0;
      }
    }
  }

  .challenge__aside {
    @apply grid sm:grid-cols-2 gap-3 pt-4 xl:pt-0;

    .challenge__links {

      .link {
        @apply text-violet-50
      }
    }
  }
}