@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  p {
    @apply p-0.5 mt-0.5;
  }

  code {
    @apply px-1 py-px border rounded-md bg-violet-700/70 border-violet-50;
  }

  h2 {
    @apply inline-block;
  }

}

@layer components {
  .bg-body {
    @apply bg-black bg-gradient-to-l from-violet-950/25 to-violet-950/45;
  }

  .nav-list {
    @apply transition-all duration-300 rounded-lg sm:rounded-none sm:rounded-t-lg;
  }

  .nav-list a {
    @apply flex gap-2;
  }

  .lang.active,
  .lang:hover,
  .lang:active {
    @apply pl-0 !important;
  }

  .nav-list:active,
  .nav-list:hover,
  .nav-list.active {
    @apply px-4 bg-white text-violet-950;
  }

  .link {
    @apply transition-all rounded-md text-violet-700;
  }

  .link::before {
    content: "↗ ";
  }

  .link:hover,
  .link:focus {
    outline: none;
    @apply p-1 bg-violet-700 text-violet-50;
  }

  .challenge {
    @apply bg-violet-950 rounded-xl text-violet-50 max-w-[50rem] min-w-[18.75rem];

    summary {
      @apply px-1 py-2 text-xl list-none hover:cursor-pointer bg-violet-300 text-violet-950 rounded-xl;

      &::before {
        content: "📁 ";
      }
    }
    ul {
      @apply p-4;
    }

    .frontend-redirect {
      @apply font-bold hover:text-violet-200;
    }
  }

  .challenge[open] {
    summary {
      @apply font-semibold rounded-none rounded-t-xl;

      &::before {
        content: "📂 ";
      }
    }
  }

  .link-challenge {
    @apply link text-violet-100;
  }

  .challenge__item {
    @apply flex flex-col gap-2 p-4 border rounded-xl border-violet-400;
  }

  .challenge__header {
    @apply flex items-start justify-between gap-4;
  }

  .challenge__main {
    @apply relative h-full sm:text-xl lg:text-2xl grid grid-rows-[1.6rem_2.9rem_auto] pb-28;
  }

  .challenge__image {
    @apply size-32 flex-grow-[0.4] rounded-md aspect-video object-cover;
  }

  .button__collapsible {
    @apply absolute bottom-2 left-1 w-4 h-1 hover:cursor-pointer fill-violet-500 self-end;
    
    transition: transform 350ms ease;
  }
  
  .button__collapsible.active {
    transform: rotate(-180deg);
  }

  .collapsible {
    @apply hidden
  }

  .challenge__content {
    @apply flex flex-col gap-4 sm:flex-row;

    img {
      @apply object-cover h-48 rounded-md w-max;
    }

    .challenge__text {
      @apply relative;
    }
  }

  .challenge__aside {
    @apply grid gap-3 pt-4 sm:grid-cols-2 xl:pt-0;

    .challenge__links {

      .link {
        @apply text-violet-50
      }
    }
  }
}

@layer utilities {
}